@{
    ViewData["Title"] = "Privacy Policy";
}

@model List<Product>

<h1>@ViewData["Title"]</h1>

<ul>
    @foreach (var product in Model)
    {
        <li>@product.Name : @product.Price </li>
    }
</ul>
